.filtres
    form#filters_form.form_filters
        .up_filtres
            .left_filtres
                label.label_spatial Spatial Coordinates
                .select_box
                    select#state.options(form='filters_form' name='country')
                        option(value='state' selected='' hidden='') State
                        - let keyStates = {states}
                        - let valuesStates = JSON.parse(keyStates.states)
                        each n in valuesStates
                            option(id=n.abbr value=n.value)
                                | #{n.value}
                .select_box
                    select#county.options_county(form='filters_form' name='county')
                        option(value='county' selected='' hidden='') County
                        - let keyCounties = {counties}
                        - let valuesCounties = JSON.parse(keyCounties.counties)
                        each n in valuesCounties
                            option(value=n)
                                | #{n}
                .select_box
                    select#city.options_city(form='filters_form' name='City')
                        option(value='city' selected='' hidden='') City
                        - let keyCities = {cities}
                        - let valuesCities = JSON.parse(keyCities.cities)
                        each n in valuesCities
                            option(value=n)
                                | #{n}
                .select_box
                    select#street.options_street(form='filters_form' name='Street')
                        option(value='street' selected='' hidden='') Street
                        - let keyStreets = {streets}
                        - let valuesStreets = JSON.parse(keyStreets.streets)
                        each n in valuesStreets
                            option(value=n)
                                | #{n}
                .select_box
                    select#number.options_number(form='filters_form' name='number')
                        option(value='number' selected='' hidden='') Number
                        - let keyNumbers = {numbers}
                        - let valuesNumbers = JSON.parse(keyNumbers.numbers)
                        each n in valuesNumbers
                            option(value=n)
                                | #{n}
                .select_box
                    select#timezone.options_timezone(form='filters_form' name='Timezone')
                        option(value='timezone' selected='' hidden='') Timezone
                        - let keyTimezones = {timezones}
                        - let valuesTimezones = JSON.parse(keyTimezones.timezones)
                        each n in valuesTimezones
                            option(value=n)
                                | #{n}
                .select_box
                    select#road_side.options_season(form='filters_form' name='Road_Side')
                        option(value='Side' selected='' hidden='') Road side
                        - let keyRoadSides = {roadSides}
                        - let valuesRoadSides = JSON.parse(keyRoadSides.roadSides)
                        each n in valuesRoadSides
                            option(value=n)
                                | #{n}
            .right_filters
                label.label_weather(for='Weather_Condition') Weather Conditions
                .select_box
                    select#Weather_Condition.options_weather(form='filters_form' name='Weather_Condition')
                        option(value='weather_Condition' selected='' hidden='') Weather
                        - let keyWeather = {weather}
                        - let valuesWeather = JSON.parse(keyWeather.weather)
                        each n in valuesWeather
                            option(value=n)
                                | #{n}
                .select_box
                    select#Wind_Direction.options_weather(form='filters_form' name='Wind_Direction')
                        option(value='wind_Direction' selected='' hidden='') Wind direction
                        - let keyWindDirections = {windDirections}
                        - let valuesWindDirections = JSON.parse(keyWindDirections.windDirections)
                        each n in valuesWindDirections
                            option(value=n)
                                | #{n}
                .weather_filtre
                    h5 Interval:
                    h5 From
                    h5 To
                .weather_filtre
                    label.weather_select_label Temperature:
                    input#temperature1.weather_select(type='number' name='temperature' form='filters_form' value='' min='-30' max='40' placeholder="F")
                    p -
                    input#temperature2.weather_select(type='number' name='temperature' form='filters_form' value='' min='-30' max='40' placeholder="F")
                .weather_filtre
                    label.weather_select_label
                        | Wind chill:
                    input#wind_chill1.weather_select(type='number' name='wind_chill' form='filters_form' value='' min='0' max='100' placeholder="F")
                    p -
                    input#wind_chill2.weather_select(type='number' name='wind_chill' form='filters_form' value='' min='0' max='100' placeholder="F")
                .weather_filtre
                    label.weather_select_label
                        | Wind speed:
                    input#wind_speed1.weather_select(type='number' name='wind_speed' form='filters_form' value='' min='0' max='100' placeholder="mph")
                    p -
                    input#wind_speed2.weather_select(type='number' name='wind_speed' form='filters_form' value='' min='0' max='100' placeholder="mph")
                .weather_filtre
                    label.weather_select_label
                        | Humidity:
                    input#humidity1.weather_select(type='number' name='humidity' form='filters_form' value='' min='0' max='100' placeholder="%")
                    p -
                    input#humidity2.weather_select(type='number' name='humidity' form='filters_form' value='' min='0' max='100' placeholder="%")
                .weather_filtre
                    label.weather_select_label
                        | Pressure:
                    input#pressure1.weather_select(type='number' name='pressure' form='filters_form' value='' min='0' max='100' placeholder="in")
                    p -
                    input#pressure2.weather_select(type='number' name='pressure' form='filters_form' value='' min='0' max='100' placeholder="in")
                .weather_filtre
                    label.weather_select_label
                        | Visibility:
                    input#visibility1.weather_select(type='number' form='filters_form' name='visibility' value='' min='0' max='100' placeholder="mi")
                    p -
                    input#visibility2.weather_select(type='number' form='filters_form' name='visibility' value='' min='0' max='100' placeholder="mi")
                .weather_filtre
                    label.weather_select_label
                        | Precipitation:
                    input#precipitation1.weather_select(type='number' form='filters_form' name='precipitation' value='' min='0' max='100' placeholder="in")
                    p -
                    input#precipitation2.weather_select(type='number' form='filters_form' name='precipitation' value='' min='0' max='100' placeholder="in")
            // MIDDLE FILTRES
        .middle_filtres
            .road_select_col
                .road_option
                    input#amenity.road_event(type='checkbox' name='amenity' form='filters_form')
                    label.road_event_label(for='amenity') Amenity
                .road_option
                    input#bump.road_event(type='checkbox' name='bump' form='filters_form')
                    label.road_event_label(for='bump') Bump
                .road_option
                    input#crossing.road_event(type='checkbox' name='crossing' form='filters_form')
                    label.road_event_label(for='crossing') Crossing
            .road_select_col
                .road_option
                    input#give_way.road_event(type='checkbox' name='give_way' form='filters_form')
                    label.road_event_label(for='give_way') Give way
                .road_option
                    input#junction.road_event(type='checkbox' name='junction' form='filters_form')
                    label.road_event_label(for='junction') Junction
                .road_option
                    input#no_exit.road_event(type='checkbox' name='no_exit' form='filters_form')
                    label.road_event_label(for='no_exit') No exit
            .road_select_col
                .road_option
                    input#Railway.road_event(type='checkbox' name='Railway' form='filters_form')
                    label.road_event_label(for='Railway') Railway
                .road_option
                    input#Roundabout.road_event(type='checkbox' name='Roundabout' form='filters_form')
                    label.road_event_label(for='Roundabout') Roundabout
                .road_option
                    input#Traffic_Calming.road_event(type='checkbox' name='Traffic_Calming' form='filters_form')
                    label.road_event_label(for='Traffic_Calming') Traffic calming
            .road_select_col
                .road_option
                    input#Stop.road_event(type='checkbox' name='Stop' form='filters_form')
                    label.road_event_label(for='Stop') Stop
                .road_option
                    input#Station.road_event(type='checkbox' name='Station' form='filters_form')
                    label.road_event_label(for='Station') Station
                .road_option
                    input#Traffic_Signal.road_event(type='checkbox' name='Traffic_Signal' form='filters_form')
                    label.road_event_label(for='Traffic_Signal') Traffic signal
        // -DOWN FILTRES
        .down_filtres
            .calendar
                .calendar_text
                    label.label_calendar Accident date
                .calendar_input
                    input#accident_date_start(type='date' min='2016-02-01' max='2019-12-31' name='accident_date_start' form='filters_form')
                    p -
                    input#accident_date_end(type='date' min='2016-02-01' max='2019-12-31' name='accident_date_end' form='filters_form')
            .slider_container_2
                label.slider_label Hour:
                .range_icons
                    input#accident_hour_start(type='time' name='accident_hour_start' form='filters_form')
                    p -
                    input#accident_hour_end(type='time' name='accident_hour_end' form='filters_form')
            .slider_container_1
                label.slider_label(for='severity') Accident Severity
                input#severity.slider(form='filters_form' type='range' name='severity' min='0' max='3' value='0' step='1')
                ul.slider_options_1
                    li.minor Minor
                    li.major Major
                    li.fatal Fatal
            // LAST SET OF FILTERS
            .last_set_filters
                .last_set_filters_col
                    .moon_filters
                        label.label_moon Sunrise/Sunset
                        .moon_option
                            input#sunrise_sunset_day(form='filters_form' type='radio' name='sunrise_sunset')
                            label.moon_option_label(for='sunrise_sunset_day') Day
                        .moon_option
                            input#sunrise_sunset_night(form='filters_form' type='radio' name='sunrise_sunset')
                            label.moon_option_label(for='sunrise_sunset_night') Night
                .last_set_filters_col
                    .moon_filters
                        label.label_moon Civil twilight
                        .moon_option
                            input#civil_twilight_day(type='radio' form='filters_form' name='civil_twilight')
                            label.moon_option_label(for='civil_twilight_day') Day
                        .moon_option
                            input#civil_twilight_night(type='radio' form='filters_form' name='civil_twilight')
                            label.moon_option_label(for='civil_twilight_night') Night
                .last_set_filters_col
                    .moon_filters
                        label.label_moon Nautical twilight
                        .moon_option
                            input#nautical_twilight_day(type='radio' form='filters_form' name='nautical_twilight')
                            label.moon_option_label(for='nautical_twilight_day') Day
                        .moon_option
                            input#nautical_twilight_night(type='radio' form='filters_form' name='nautical_twilight')
                            label.moon_option_label(for='nautical_twilight_night') Night
                .last_set_filters_col
                    .moon_filters
                        label.label_moon(for='astronomical_twilight_day') Astronomical twilight
                        .moon_option
                            input#astronomical_twilight_day(type='radio' form='filters_form' name='astronomical_twilight')
                            label.moon_option_label(for='astronomical_twilight_day') Day
                        .moon_option
                            input#astronomical_twilight_night(type='radio' form='filters_form' name='astronomical_twilight')
                            label.moon_option_label(for='astronomical_twilight_night') Night
        h2#filter_message
        .submit_button
            input#reset_button(form='filters_form' type='reset' value='Reset')
            input#submit_button(form='filters_form' type='submit' value='Submit')
    .weather_filtre
        input#dataset.dataset_save_select(type='text' name='save_dataset' value='' placeholder="Enter Dataset Name")
        input#save_dataset(form='filters_form' type='button' value='Save')
            